<h1>Hello, My name is {{myData.name}}</h1>
<h2>{{myData.aboutme.Fullname}}</h2>
<h2>{{myData.aboutme.Facebook}}</h2>
<h2>{{myData.aboutme.Email}}</h2>
<h2>{{myData.aboutme.Address}}</h2>
<h2>{{myData.Education}}</h2>
